# Dependencies
/node_modules

# Environment variables
.env

# User-generated content / uploads
/public/uploads

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backup files
server_LAMA.js